/* 颜色 */
.red, .red-important { color: red !important; }
.darkred, .darkred-important { color: darkred !important; }
.orangered, .orangered-important { color: orangered !important; }
.green, .green-important { color: green !important; }
.limegreen, .limegreen-important { color: limegreen !important; }
.cyan, .cyan-important { color: cyan !important; }
.darkcyan, .darkcyan-important { color: darkcyan !important; }

/* <details> 标签中的代码字体大小 */
details .linenos, details code {
  font-size: inherit !important;
}

/* details 中的代码块 / 标签 */
details > summary + .highlight, details > summary + .tabbed-set { margin: 0 -0.6rem !important; }
details > summary + .highlight > .highlighttable { margin: 0 !important; }

/* 表格全宽 */
.md-typeset__table { display: block !important; }
.md-typeset table:not(.highlighttable) { display: table !important; }
.md-typeset table:not([class]) th { min-width: 0rem; }

.headerlink { transform: translateY(-2.5px); }

.md-nav__link[for=__toc] .md-icon { margin-left: auto !important; }

.md-typeset { font-feature-settings: "kern" 0; font-size: 0.7rem; }

blockquote.page-time {
  margin: 20px 0 !important;
  border-left-color: #64b5f6 !important; /* Just change the color value and that's it*/
}
blockquote.page-copyright {
  margin: 20px 0 !important;
  border-left-color: #ff1700 !important; /* Just change the color value and that's it*/
}
blockquote.page-copyright i.md-icon {
  display: inline-block;
  margin-right: 5px;
  transform: translateY(3.5px);
  width: 18px;
}

/* 隐藏 MathJax 渲染过程中生成的临时图片 */
mjx-container > img {
  width: 0;
  height: 0;
}

/* 主题配色 */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #2e303e;
  --md-accent-fg-color: #00bda4;
  --md-typeset-a-color: #526cfe;
}

[data-md-color-scheme="slate"] .md-typeset img {
  background: white;
  filter: brightness(0.9);
}

[data-md-color-scheme="slate"] .md-typeset img[src$=".svg"] {
  border: 4px solid white;
}

div.md-typeset__scrollwrap:has(table[data-review-enabled]) {
  overflow: visible;
}

.md-typeset #references, .md-typeset .no-underline { margin-bottom: 0; padding-bottom: 0; border: none; }

.md-typeset h2 { border-bottom: 1px solid #d3d3d3; }

.md-typeset h3 { border-bottom: 1px dashed #d3d3d3; }

.md-typeset h4 { font-size: 1.17em; }

.md-typeset h5 { font-size: 1.08em; }

.md-typeset h6 { font-size: 1em; }

.md-typeset dt { font-weight: bold; }

.md-typeset img { display: block; margin-left: auto; margin-right: auto; }

.md-typeset .img-inline { display: inline-block; vertical-align: text-bottom; }

.md-typeset .img-border { border: 1px solid black; }

.md-typeset kbd { box-shadow: 0 0 0 0.05rem var(--md-default-fg-color--lighter), 0 0.1rem 0 var(--md-default-fg-color--lighter), inset 0 -0.1rem 0.2rem var(--md-default-bg-color); }

.md-typeset .admonition, .md-typeset details { font-size: 0.9em; }


.md-typeset p.caption { text-align: center; font-size: 0.94em; color: grey; margin: -0.7em 0 0; }
.md-typeset p.caption_table { text-align: center; font-size: 0.94em; color: grey; margin: +1.0em 0 -0.7em; }

.md-typeset .footnote hr { margin-top: 0.2em; }

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

.md-typeset p a, .md-typeset ul a { 
  color: black; /* 设置链接颜色 */ 
  text-decoration: underline; /* 保留下划线 */ 
}

.md-typeset p > code, .md-typeset li > code {
  font-weight: bold;
}

